body {
    width: 100vw;
    height: 100vh;
}

.container {
    background-image: linear-gradient(#FF710C, #ff007f);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

div.pai {
    background-color: rgb(46, 42, 43);
    width: 90vw;
    height: 77vh;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 5%;
    margin-bottom: 18vh;
    margin-top: auto;
    align-items: flex-end;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}

div.filho {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 70vh;
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 5%;
    margin-bottom: -13vh;
    margin-top: auto;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}

div.botao-calcular {
    background-image: linear-gradient(to left, #FF710C, #ff007f);
    width: 27vw;
    max-width: 132px;
    height: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 15%;
    margin-bottom: -2vh;
    margin-top: auto;
    align-items: center;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

.teclado {
    margin-top: 2vh;
    display: grid;
    grid: repeat(5, 13vh) / auto-flow 16vw;
    position: absolute;
}

.teclado>div {
    width: 15vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

.teclado>div.operator {
    color: #ff007f;
}